@model proyectokeneth.Models.Entities.InstanciasPlantillas

@{
    ViewData["Title"] = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles</h1>

<div>
    <h4>Instancias</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Estado == "0")
            {
                @Html.Raw("Pendiente")
            }
            else
            {
                @Html.Raw("Finalizada")
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Iniciada)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Iniciada == "0")
            {
                @Html.Raw("No")
            }
            else
            {
                @Html.Raw("Si")
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AspNetUserNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AspNetUserNavigation.UserName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-action="Assign" asp-route-id="@ViewContext.RouteData.Values["id"]">Configurar Campos y Pasos</a> |
    <a asp-action="Index">Regresar</a>
</div>
