@model proyectokeneth.Models.Entities.Plantillas

@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="col grid-example s12">
    <span class="flow-text deep-orange lighten-2">@ViewData["Title"] Plantillas</span>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label"></label>
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <hr />
                <p>Pasos</p>
                <div class="form-group">
                    <input type="submit" class="btn-floating deep-orange lighten-2" value="+" formmethod="post" formaction="/Plantillas/AddStep" />
                </div>
                @for (int i = 0; i < Model.PlantillasPasosDetalle.Count; i++)
                {
                    <hr />
                    <p>Paso #@(i + 1)</p>
                    <div class="form-group">
                        <label asp-for="@Model.PlantillasPasosDetalle[i].PasoNavigation.Nombre" class="control-label"></label>
                        <input asp-for="@Model.PlantillasPasosDetalle[i].PasoNavigation.Nombre" class="form-control" />
                        <span asp-validation-for="@Model.PlantillasPasosDetalle[i].PasoNavigation.Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.PlantillasPasosDetalle[i].PasoNavigation.Descripcion" class="control-label"></label>
                        <input asp-for="@Model.PlantillasPasosDetalle[i].PasoNavigation.Descripcion" class="form-control" />
                        <span asp-validation-for="@Model.PlantillasPasosDetalle[i].PasoNavigation.Descripcion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.PlantillasPasosDetalle[i].PasoNavigation.FechaInicioString" class="control-label"></label>
                        <input asp-for="@Model.PlantillasPasosDetalle[i].PasoNavigation.FechaInicioString" class="datepicker" />
                        <span asp-validation-for="@Model.PlantillasPasosDetalle[i].PasoNavigation.FechaInicioString" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.PlantillasPasosDetalle[i].PasoNavigation.FechaFinString" class="control-label"></label>
                        <input asp-for="@Model.PlantillasPasosDetalle[i].PasoNavigation.FechaFinString" class="datepicker" />
                        <input type="hidden" asp-for="@Model.PlantillasPasosDetalle[i].PasoNavigation.FechaFin" />
                        <span asp-validation-for="@Model.PlantillasPasosDetalle[i].PasoNavigation.FechaFinString" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="waves-effect deep-orange lighten-2 btn" value="Agregar Usuario" formmethod="post" formaction="/Plantillas/AddUser/@i" />
                    </div>
                    @for (int j = 0; j < Model.PlantillasPasosDetalle[i].PlantillasPasosUsuariosDetalle.Count; j++)
                    {
                        <p>Usuario #@(j + 1)</p>
                        <div class="form-group">
                            <label asp-for="@Model.PlantillasPasosDetalle[i].PlantillasPasosUsuariosDetalle[j].AspNetUser" class="control-label"></label>
                            <select asp-for="@Model.PlantillasPasosDetalle[i].PlantillasPasosUsuariosDetalle[j].AspNetUser" class="input-field" asp-items="ViewBag.Users"></select>
                            <span asp-validation-for="@Model.PlantillasPasosDetalle[i].PlantillasPasosUsuariosDetalle[j].AspNetUser" class="text-danger"></span>
                        </div>
                    }
                }
                <p>Campos</p>
                <div class="form-group">
                    <input type="submit" class="btn-floating deep-orange lighten-2" value="+" formmethod="post" formaction="/Plantillas/AddField" />
                </div>
                @for (int i = 0; i < Model.PlantillasCamposDetalle.Count; i++)
                {
                    <hr />
                    <p>Campo #@(i + 1)</p>
                    <div class="form-group">
                        <label asp-for="@Model.PlantillasCamposDetalle[i].NombreCampo" class="control-label"></label>
                        <input asp-for="@Model.PlantillasCamposDetalle[i].NombreCampo" class="form-control" />
                        <span asp-validation-for="@Model.PlantillasCamposDetalle[i].NombreCampo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.PlantillasCamposDetalle[i].IdDatoTipo" class="control-label"></label>
                        <select asp-for="@Model.PlantillasCamposDetalle[i].IdDatoTipo" class="form-control" asp-items="ViewBag.DataTypes"></select>
                        <span asp-validation-for="@Model.PlantillasCamposDetalle[i].IdDatoTipo" class="text-danger"></span>
                    </div>
                }
                <div class="form-group">
                    <input type="submit" value="@ViewData["Title"]" onclick="M.toast({html: 'Plantilla Creada Exitosamente'})" class="waves-effect deep-orange lighten-2 btn" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Regresar</a>
    </div>

    @section Scripts {

        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

        <script>
            $(document).ready(function () {
                //var instance = M.Datepicker.getInstance($('.datepicker'));
                //instance.setDate('yyyy-MM-dd');
                $('select').formSelect();
                $('.datepicker').datepicker({
                    format: 'yyyy-mm-dd',
                    i18n: {
                        months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                        monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Set", "Oct", "Nov", "Dic"],
                        weekdays: ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"],
                        weekdaysShort: ["Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
                        weekdaysAbbrev: ["D", "L", "M", "M", "J", "V", "S"]
                    }
                });
                $('.fixed-action-btn').floatingActionButton();
            });




        </script>


    }
