@model IEnumerable<proyectokeneth.Models.Entities.Plantillas>


@{
    ViewData["Title"] = "Plantillas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col grid-example s12">
    <span class="flow-text deep-orange lighten-2">@ViewData["Title"]</span>
</div>

<partial name="_Success" />
<partial name="_Warning" />
<!--
<div class="search-box">
    <div class="input-group">
        <input id="toSearch" type="text" class="form-control w-50" placeholder="Ingrese nombre a buscar">
        <div class="input-group-append">
            <button id="buttonSearch" class="btn btn-primary" type="button">
                <i class="fa fa-search"></i>
            </button>
        </div>

        <div class="input-group-append">

        </div>
    </div>
</div>
-->
<div class="text-center">
    <div class="spinner-border text-primary" role="status" style="display:none">
        <span class="sr-only">Buscando...</span>
    </div>
</div>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large red z-depth-5">
        <i class="large material-icons">+</i>
    </a>
    <ul>
        <li>
            <a id="anchorCreate" class="btn-floating green" href="/Plantillas/Create">
                <i class="material-icons">crear</i>
            </a>
        </li>


    </ul>
</div>

<!-- <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        <a class="btn btn-primary" href="#" onclick="openModal(@item.IdPlantilla, '@item.Nombre')">Acciones</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>-->

<div class="row">
    <div class="col s12 m6">
        @{var i = 0; }


        @foreach (var item in Model)
        {


            <div class="card">
                <div>
                    <p>Plantilla #@(i + 1)</p>

                    <p class="card-title">@Html.DisplayNameFor(model => model.Nombre)<p />

                 


                    <p>

                        @Html.DisplayFor(modelItem => item.Nombre)
                    </p>


                    <a class="btn-floating halfway-fab waves-effect waves-light red" onclick="openModal(@item.IdPlantilla, '@item.Nombre')"><i class="material-icons">Acciones</i></a>
                </div>
                <div class="card-content">
                    <p>  @Html.DisplayNameFor(model => model.Descripcion)</p>
                    <p>  @Html.DisplayFor(modelItem => item.Descripcion)</p>
                </div>
            </div>
            i++;
        }
    </div>
</div>
<!--
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center mb-3">
                    <a id="anchorInit" class="btn btn-primary" href="">Crear Proceso</a>
                </div>
                <div class="text-center mb-3">
                    <a id="anchorEdit" class="btn btn-primary" href="">Editar</a>
                    <a id="anchorDetails" class="btn btn-primary" href="">Detalles</a>
                    <a id="anchorDelete" class="btn btn-danger" href="">Eliminar</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>-->
<!-- Modal Structure -->
<div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
        <h5 class="modal-title" id="modalTitle"></h5>
        <a id="anchorEdit" class="btn btn-primary" href="">Editar</a>
        <a id="anchorDetails" class="btn btn-primary" href="">Detalles</a>
        <a id="anchorDelete" class="btn btn-danger" href="">Eliminar</a>
        <a id="anchorInstance" class="btn btn-danger" href="">Instanciar</a>


    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">cerrar</a>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
}

@section Scripts {
    <script>
        function openModal(id, name) {

            $("#anchorEdit").attr("href", "/Plantillas/Edit/" + id);
            $("#anchorDetails").attr("href", "/Plantillas/Details/" + id);
            $("#anchorDelete").attr("href", "/Plantillas/Delete/" + id);
            $("#anchorInstance").attr("href", "/Plantillas/Instance/" + id);

            $("#modalTitle").text("Opciones de plantilla(" + name + ")");
            $('#modal1').modal('open');


        }
        var _defLink = "/Plantillas/Create/"
        var _link = "";
        $("#steps").change(function () {
            _link = _defLink + $(this).val() + "/" + $("#fields").val();
            $("#anchorCreate").attr("href", _link);
        });
        $("#fields").change(function () {
            _link = _defLink + $("#steps").val() + "/" + $(this).val();
            $("#anchorCreate").attr("href", _link);
        });
        $(document).ready(function () {
            $('.fixed-action-btn').floatingActionButton();
        });
        $(document).ready(function () {
            $('.modal').modal();
        });
    </script>
}